/* CSS Document */

#wrapper {
	width: 900px !important;
}

h1 { font-size:36px !important; }
h2 { font-size:24px !important; }
h3 { font-size:20px !important; }
h4 { font-size:18px !important; }
h5 { font-size:16px !important; }
h6 { font-size:14px !important; }

.tooltip:hover span {
	top: 50px !important;
}

#title-image {
	width: 500px !important;
	height: 88px !important;
	background: url(../images/title.png) left top !important;
}

#site-title {
	background: url(../images/logo-large.png) no-repeat left top !important;
	padding: 40px 15px 0 300px !important;
	min-height: 260px !important;
	font-size: 20px !important;
}

#quote {
	height: 60px !important;
}

#responsive-status {
	margin-top: 30px !important;
	padding-left: 48px !important;
	padding-top: 15px !important;
	height: 48px !important;
	background: url(../images/cross_large.png) no-repeat top left !important;
}

#drop-down-trigger {
	display: none !important;
}

ul.topnav {
	margin-top: -70px !important;
	display: inline; !important;
	position: absolute !important;
	width: 700px !important;
}

ul.topnav li {
	margin-right: 10px !important;
}